* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

body {
    background-color: rgb(237, 241, 246);
}

header {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-between;
    padding: 1%;
    background-color: #15016f;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

section nav ul li{
    display:column ;
    margin-left: 25px;
    padding-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
 }
h1 {
    padding-left: 55%;
}

 h2 {
    padding-left: 10px;
 }

 .card {
    padding-left: 10px;
 }